@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  background-color: #1c1c1c;
  color: #e0eee0;
}

@keyframes scroll {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.relative:hover .animate-scroll {
  animation-play-state: paused;
}